html, body {
    margin: 0;
    padding: 0;
   }
   
   body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
   }
   
   #Bloc1 {	
     float: left;
     background: cyan;
     width: 150px;
     height: 150px;
     margin: 0;
     display: table;
   }
   
   #Bloc3 { 
     float: right;
     background: red;
     width: 150px;
     height: 150px;
     margin: 0;
   }
   
   #Bloc2 {
     background: black;
     width: 95%;
     height: 150px;
     margin: 0;
   }
   
   #Bloc4 { 
     background: white;
     width: 95%;
     margin: 10px;
     height: 50px;
     border-radius: 25px;
     border: 2px solid black;
     padding: 20px;
     margin-left: 20px;
     margin-right: 10px;
     background-image: linear-gradient(black, white);
   }
   
   #CMT {
    font-size: 300%; 
    color: white; 
    text-align: center;
    border: 10px;
   }
   
   #CMT2 {
    font-size: 100%; 
    color: white; 
    text-align: center;
   }
   
   #Bloc5 {
     background: white;
     display: inline-block;
     width: 300px;
     height: 450px;
     border-radius: 25px;
     border: 2px solid black;
     padding: 20px;
     margin-left: 20px;
     background-image: linear-gradient(black, white);
   }
   
   #Bloc6 {
    float: right;
    display:block;
    background: cyan;
    width: 65%;
    height: 450px;
    padding: 1px;
    margin-right: 30px;
    border-radius: 25px;
    border: 2px solid black;
    background-image: linear-gradient(white, #D3D3D3);
}

   
   #container::after {
     content: "";
     display: table;
     clear: both;
   }
   
   #container {
     background: #F9E5E0;
     width: 95%;
     margin: 2px auto;
     height: auto;
     border-radius: 15px;
     border: 2px solid black;
     padding: 20px;
   }
   
   .client {
     width: 150px;
     height: 150px;
     text-align: table-cell;
     display: block;
     vertical-align: middle;
   }
   
   .logo_orange {
     width: 150px;
     height: 150px;
     text-align: center;
     display: table-cell;
     vertical-align: middle;
   }
   
   #ExArea {
    font-size: 200%; 
    color: black; 
    text-align: center;
    border: 0;
   }
   
   #Entreprise {
    font-size: 100%; 
    color: white; 
    text-align: center;
    border: 0;
   }
   
   #LeftButton1, #LeftButton2, #LeftButton3, #LeftButton4, #LeftButton5 {
     background-color: white;
     width: 250px;
     margin-top: 20px;
     height: 75px;
     font-size: 15px;
     border-radius: 25px;
     border: 2px solid orange;
     padding: 20px;
     text-align: center;
   }
   
   .ButtonTop {
     background-color: orange;
     display: inline-block;
     width: 250px;
     margin-top: 10px;
     height: 50px;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
     border: 2px solid orange;
     padding: 10px;
     text-align: center;
   }
   